# Default owners of the repository
*   @chzbrgr71 @pauldotyu @russd2357 @kenkilty @phillipgibson

# Workshop owners
workshops/getting-started-with-k8s-on-aks/      @pauldotyu
workshops/getting-started-with-aks/             @pauldotyu
