# Default owners of the repository
*   @sinedied @cmaneu

# Workshop owners
workshops/aks-openai-embeddings/                @mosabami 
workshops/deploying-to-azure-container-apps/    @duffney @SophCarp
workshops/fabric-e2e-serengeti/                 @Jcardif @BethanyJep
workshops/getting-started-with-aks/             @ypauldotyu
workshops/semantic-kernel-ws/                   @Philess
workshops/github-copilot/                       @Philess
workshops/github-copilot-java/                  @yoshioterada
