:root {
  --primary: #07c;
  --accent: #c54;
  --neutral: #b0b0c0;
  --neutral-light: #f4f4f6;
  --neutral-dark: #99a;
  --warning: #f60;
  --success: #0c0;
  --danger: #f00;
  --info: var(--primary);
  --text: #111;
  --text-light: #fff;
  --background: #fff;
  --text-font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, 'Segoe UI', Helvetica,
    Arial, sans-serif;
  --title-font-family: var(--text-font-family)
  --code-font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', 'Courier New', monospace;
  --text-base-size: 16px;
  --border-color: #ddd;
  --border-radius: 0.3rem;
  --space-xxxs: 0.15rem;
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --transition-duration: 0.2s;
  --navbar-height: 60px;
  --sidebar-width: 300px;
}

// Base style ----------------------------------------------------------------

html,
body {
  background: var(--background);
  font-family: var(--text-font-family);
  font-size: var(--text-base-size);
  -webkit-font-smoothing: antialiased;
  line-height: 1.7;
  font-weight: 400;
  color: var(--text);
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: var(--space-md) 0;
}

th,
td {
  text-align: left;
  vertical-align: top;
  padding: var(--space-xxs) var(--space-md);
  border: 2px solid var(--border-color);

  &:empty {
    padding: 0;
  }
}

img,
iframe {
  border: 0;
}

// Common style --------------------------------------------------------------

p,
ul,
ol,
h3,
h4,
h5,
h6,
pre {
  margin: var(--space-xs) 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font-family);
  font-weight: 600;
  line-height: 1.25;
  scroll-margin: calc(var(--navbar-height) + 1em);
}

h1 {
  font-size: 2.2rem;
  margin: var(--space-lg) 0;
}

h2 {
  font-size: 1.65rem;
  margin-top: var(--space-lg);
  padding-bottom: 0.3rem;
  border-bottom: solid 1px var(--border-color);
}

h3 {
  font-size: 1.35rem;
  margin-top: var(--space-lg);
}

h4 {
  margin-top: var(--space-md);
}

ol,
ul {
  padding-left: 1.3em;
}

blockquote {
  border-left: solid 6px var(--neutral);
  padding: var(--space-xs) var(--space-md);
  margin: var(--space-md) 0;
  background: var(--neutral-light);
  border-radius: var(--border-radius);
}

pre, code {
  font-family: var(--code-font-family);

  // Override prismjs default style
  &[class*="language-"] {
    font-family: var(--code-font-family);
  }
}

code:not(pre > code) {
  font-family: var(--code-font-family);
  background: var(--neutral-light);
  padding: var(--space-xxxs) var(--space-xxs);
  border: 1px solid rgba(0,0,0,.1);
  border-radius: var(--border-radius);
}

pre {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 8px;
    background: var(--neutral-light);
    visibility: visible;
    overflow: hidden;
    border-radius: var(--border-radius);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius);
  }
}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  background: none;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--space-md);
  color: var(--text-color);
  transition: border-color var(--transition-duration);
  font-family: var(--text-font-family);
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    border-color: var(--primary);
  }
}

img {
  max-width: 100%;
  margin: var(--space-xs) 0;
}

.navbar {
  position: sticky;
  z-index: 10;
  top: 0;
  background: var(--primary);
  padding: var(--space-xs);
  height: var(--navbar-height);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  padding: var(--space-xs) var(--space-md);

  .title {
    color: var(--text-light);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
  }

  button {
    border: 0;
    color: var(--text-light);
    transition: opacity var(--transition-duration);

    &:hover {
      opacity: 0.7;
    }
  }
}

.heading-anchor {
  font-size: .85em;
  opacity: 0;
  transition: opacity var(--transition-duration);

  .heading:hover & {
    opacity: 1;
  }
}

.workshop {
  margin: var(--space-lg);
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
  overflow: visible;
}

.external-link {
  color: var(--neutral-dark);
  text-decoration: none;
  height: .85em;
  width: .85em;
  vertical-align: baseline;
  margin: 0 .1em -.1em var(--space-xxs);
}
