@import 'variables';

// Button style --------------------------------------------------------------

button,
.button {
  background: none;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--space-xs) var(--space-md);
  color: var(--text-color);
  transition: border-color var(--transition-duration);
  font-family: var(--text-font-family);
  font-size: inherit;
  cursor: pointer;

  &:hover {
    border-color: var(--primary);
    text-decoration: none;
  }
}

.button-fill {
  border-color: var(--primary);
  background: var(--primary);
  color: var(--text-light);
  transition: opacity var(--transition-duration);

  &:hover {
    border-color: transparent;
    opacity: 0.8;
  }
}

.button-round {
  background: var(--background);
  color: var(--text);
  border-radius: 50%;
  border-color: transparent;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity var(--transition-duration);

  &:hover {
    border-color: transparent;
    opacity: 0.8;
  }
}
