@import 'variables';

// Clipboard copy button -----------------------------------------------------

.markdown-clipboard-button {
  background-color: rgba(255, 255, 255, 0.15);
  border-color: var(--neutral);
  color: var(--text-light);
  font-size: var(--text-size-sm);
  padding: var(--space-xs);
  opacity: 0.7;

  &:hover {
    border-color: var(--neutral-light);
    opacity: 0.9;
  }

  &.copied {
    border-color: var(--primary);
  }
}
