@use 'sass:color';
@import 'theme/variables';

:root {
  --primary: #0078d4;
  --primary-light: #{color.scale(#0078d4, $lightness: 90%, $saturation: -40%)};
  --primary-dark: #{color.scale(#0078d4, $lightness: -20%, $saturation: +20%)};
  --accent: #c90040;
  --accent-light: #{color.scale(#c90040, $lightness: 90%, $saturation: -40%)};
  --accent-dark: #{color.scale(#c90040, $lightness: -20%, $saturation: +20%)};
  --medium: #{color.scale(color.mix(#0078d4, #00a1a1), $lightness: -10%)};
  --medium-light: #{color.scale(color.mix(#0078d4, #00a1a1), $lightness: 90%, $saturation: -40%)};
  --accent-2: #006680;
  --accent-2-light: #{color.scale(#006680, $lightness: 90%, $saturation: -40%)};
  --accent-3: #007a7a;
  --accent-3-light: #{color.scale(#00a1a1, $lightness: 90%, $saturation: -40%)};
  --neutral: #b0b0c0;
  --neutral-light: #f4f4f6;
  --neutral-dark: #737382;
  --dark: #334;
  --warning: #d71;
  --warning-light: #{color.scale(#d71, $lightness: 90%, $saturation: -40%)};
  --warning-text: var(--text-light);
  --success: #3b1;
  --success-light: #{color.scale(#3b1, $lightness: 90%, $saturation: -40%)};
  --success-text: var(--text-light);
  --important: #d31;
  --important-light: #{color.scale(#d31, $lightness: 90%, $saturation: -40%)};
  --important-text: var(--text-light);
  --info: var(--primary);
  --info-light: var(--primary-light);
  --info-text: var(--text-light);
  --task: #fd7;
  --task-light: #{color.scale(#fd7, $lightness: 90%, $saturation: -40%)};
  --task-text: var(--text);
  --text: #222;
  --text-medium: #{color.scale(#222, $lightness: 20%)};
  --text-light: #fff;
  --background: #fff;
  --text-font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, 'Segoe UI', Helvetica,
    Arial, sans-serif;
  --title-font-family: var(--text-font-family);
  --code-font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', 'Courier New', monospace;
  --text-base-size: 16px;
  --text-size-xs: 0.7rem;
  --text-size-sm: 0.8rem;
  --text-size-md: 1rem;
  --text-size-lg: 1.125rem;
  --text-size-xl: 1.35rem;
  --text-size-xxl: 1.65rem;
  --text-size-xxxl: 2.2rem;
  --text-size-xxxxl: 2.5rem;
  --border-color: #ddd;
  --border-radius: 0.3rem;
  --space-xxxxs: 0.07rem;
  --space-xxxs: 0.15rem;
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --transition-duration: 0.2s;
  --navbar-height: 60px;
  --sidebar-width: 300px;
}

@import 'theme/base';
@import 'theme/common';
@import 'theme/button';
@import 'theme/layout';
@import 'theme/responsive';
@import 'theme/code';
@import 'theme/accessibility';
