@import 'variables';

// Base style ----------------------------------------------------------------

html,
body {
  background: var(--background);
  font-family: var(--text-font-family);
  font-size: var(--text-base-size);
  -webkit-font-smoothing: antialiased;
  line-height: 1.7;
  font-weight: 400;
  color: var(--text);
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: var(--space-md) 0;
}

// Hide header row if all cells are empty
tr:has(> th:empty):not(:has(> th:not(:empty))) {
  display: none;
}

th,
td {
  text-align: left;
  vertical-align: top;
  padding: var(--space-xxs) var(--space-md);
  border: 2px solid var(--border-color);
}

img,
iframe {
  border: 0;
  display: block;
}

summary {
  position: relative;
  cursor: pointer;
  list-style: none;
  padding: var(--space-xs) var(--space-md) var(--space-xs) var(--space-lg);
  margin-left: calc(-1 * var(--space-md));
  margin-right: calc(-1 * var(--space-md));

  &::before {
    content: '';
    display: block;
    border-width: 0.4rem;
    border-style: solid;
    border-color: transparent transparent transparent var(--dark);
    position: absolute;
    top: var(--space-md);
    left: var(--space-md);
    transform: rotate(0);
    transform-origin: 0.2rem 50%;
    transition: var(--transition-duration) transform ease;
  }

  &::after {
    content: '';
    display: block;
    position: relative;
    top: calc(var(--space-xs) + 1px);
    left: calc(-1 * var(--space-md));
    width: calc(100% + var(--space-md));
    height: 1px;
    border-bottom: 1px solid var(--border-color);
  }
}

details {
  padding: 0 var(--space-md);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  overflow: hidden;

  &[open] > summary::before {
    transform: rotate(90deg);
  }

  > summary::-webkit-details-marker {
    display: none;
  }
}

div[data-visible^='$$'],
div[data-hidden]:not([data-hidden^='$$']) {
  display: none;
}

// Override ngx-markdown inline-style for a11y
div:has(app-copy button:focus) {
  opacity: 1 !important;
}
