@import 'variables';

// Common style --------------------------------------------------------------

p,
ul,
ol,
h3,
h4,
h5,
h6,
pre {
  margin: var(--space-md) 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font-family);
  font-weight: 600;
  line-height: 1.25;
  scroll-margin: 1em;
}

h1 {
  font-size: var(--text-size-xxxl);
  margin: var(--space-lg) 0;
}

h2 {
  font-size: var(--text-size-xxl);
  margin-top: var(--space-lg);
  padding-bottom: 0.3rem;
  border-bottom: solid 1px var(--border-color);
}

h3 {
  font-size: var(--text-size-xl);
  margin-top: var(--space-lg);
}

h4 {
  font-size: var(--text-size-lg);
  margin-top: var(--space-md);
}

h5 {
  font-size: var(--text-base-size);
  margin-top: var(--space-md);
}

h6 {
  font-size: var(--text-base-size);
  margin-top: var(--space-md);
  font-style: italic;
}

ol,
ul {
  padding-left: 1.3em;

  ol,
  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.warning,
.important,
.info,
.tip,
.task {
  position: relative;

  &[data-title]::before {
    content: attr(data-title);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 var(--space-md);
    font-size: var(--text-size-sm);
    font-weight: bold;
    border-radius: var(--border-radius);
    text-transform: uppercase;
    z-index: 1;
  }

  &[data-title] > blockquote {
    padding-top: var(--space-lg);
  }
}

.warning {
  &[data-title]::before {
    background: var(--warning);
    color: var(--warning-text);
  }

  & > blockquote {
    background: var(--warning-light);
    border-left-color: var(--warning);
  }
}

.important {
  &[data-title]::before {
    background: var(--important);
    color: var(--important-text);
  }

  & > blockquote {
    background: var(--important-light);
    border-left-color: var(--important);
  }
}

.info {
  &[data-title]::before {
    background: var(--info);
    color: var(--info-text);
  }

  & > blockquote {
    background: var(--info-light);
    border-left-color: var(--info);
  }
}

.tip {
  &[data-title]::before {
    background: var(--success);
    color: var(--success-text);
  }

  & > blockquote {
    background: var(--success-light);
    border-left-color: var(--success);
  }
}

.task {
  &[data-title]::before {
    background: var(--task);
    color: var(--task-text);
  }

  & > blockquote {
    background: var(--task-light);
    border-left-color: var(--task);
  }
}

blockquote {
  position: relative;
  padding: var(--space-xs) var(--space-md);
  margin: var(--space-md) 0;
  background: var(--neutral-light);
  border-left: solid 6px var(--neutral);
  border-radius: var(--border-radius);
}

pre,
code {
  font-family: var(--code-font-family);

  // Override prismjs default style
  &[class*='language-'] {
    font-family: var(--code-font-family);
  }
}

code:not(pre > code) {
  font-family: var(--code-font-family);
  background: var(--neutral-light);
  padding: var(--space-xxxxs) var(--space-xxs);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
  word-break: break-all;
  display: inline-block;
  line-height: 1.25;

  blockquote & {
    background: rgba(255, 255, 255, 0.7);
  }
}

pre {
  outline-offset: 1px;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 8px;
    background: var(--neutral-light);
    visibility: visible;
    overflow: hidden;
    border-radius: var(--border-radius);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius);
  }
}

a {
  font-weight: 500;
  color: var(--primary-dark);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

img,
iframe {
  max-width: 100%;
  margin: var(--space-xs) 0;
}

hr {
  border: 0;
  border-top: 1px solid var(--border-color);
  margin: var(--space-lg) 0;
}

.heading-anchor {
  font-size: 0.85em;
  opacity: 0;
  transition: opacity var(--transition-duration);

  .heading:hover &,
  &:focus,
  &:active {
    opacity: 1;
  }
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
  overflow: visible;
}

.external-link {
  color: var(--neutral-dark);
  text-decoration: none;
  height: 0.85em;
  width: 0.85em;
  vertical-align: baseline;
  margin: 0 0.1em -0.1em var(--space-xxs);
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.video-embed {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-embed iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.text-center {
  text-align: center;
}
